<h1 class="text-center">VOTE</h1>
<figure class="text-center">
  <blockquote class="blockquote">
    <p>Choose your favorite Disney character.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Double click on the character line to vote for him
  </figcaption>
</figure>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <!-- <th scope="col">actions</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let character of characters" (dblclick)="vote(character)">

      <td>{{character.id}}</td>
      <td>{{character.name}}</td>
      <!-- <td>
        <button class="btn btn-outline-secondary ml-1" type="button">edit</button>
        <button class="btn btn-outline-danger m-1" type="button">delete</button>
      </td> -->

    </tr>
  </tbody>

</table>
